.logo {
  width: 100px;
}

.content {
  margin-top: 30px;

  .info {
    margin: 5% 17% 10% 17%;

    .title {
      font-size: large;
      margin-bottom: 3%;
    }

    .data {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 5%;
      color: blue;
    }
  }

  .btn {
    margin: 5% 20% 0% 20%;

    .btnScan {
      margin-bottom: 20px;
    }
  }
}

.transparentBody, ion-app.transparentBody, ion-app.transparentBody ion-content, ion-app.transparentBody .nav-decor {
  background: transparent none !important;
}

//iPad size
@media screen and (device-aspect-ratio: 3/4) {
  .title {
    font-size: x-large;
  }
}