<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-end">
          <img [src]="ticketShopImageURL" alt="Shop Logo" class="logo">
        </ion-col>
        <ion-col class="ion-text-start">
          <p>{{ ticketShopName }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Info-->
  <div class="content">
    <div class="info">
      <p class="title">Current E-Ticket Number:</p>
      <p class="data">{{ currentNumber }}</p>
      <p class="title">Your E-Ticket Number:</p>
      <p class="data">{{ ticketNumber }}</p>
      <p class="title">Maximum Capacity:</p>
      <p class="data">{{ maxCapacity }}</p>
      <p class="title">Number of People In Shop:</p>
      <p class="data">{{ totalPeople }}</p>
      <p class="title">Number of People In Queue:</p>
      <p class="data">{{ totalQueue }}</p>
    </div>
    <!-- /Info -->

    <!-- Button -->
    <div class="btn ion-margin">
      <ion-button color="medium" size="medium" class="btnScan" expand="block" (click)="scanCode()">Scan QR Code
      </ion-button>
      <ion-button color="medium" size="medium" expand="block" (click)="throwTicket()">Throw E-Ticket</ion-button>
    </div>
  </div>
  <!-- /Button -->

</ion-content>