.content {
  margin-top: 30px;

  .info {
    margin: 5% 20% 10% 20%;

    .data {
      font-weight: bold;
      font-size: xx-large;
      text-align: center;
      margin-top: 0;
    }
  }

  .btn {
    margin: 5% 20% 0% 20%;

    .btnScan {
      margin-bottom: 20px;
    }
  }
}
