.title {
    text-align: center;
    margin-bottom: 0;
}

ion-icon.active {
    color: red;
}

.checkbox {
    margin-top: 10px;
    margin-left: 10px;

    .checkboxTitle {
        margin-left: 5px;
    }
}