<ion-header>
  <ion-toolbar color="medium">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-thumbnail>
            <img src="../../assets/Logo.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <ion-text color="light">
            <h4>E-Waiting Line Management</h4>
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="ellipsis-vertical" (click)=logout($event)></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="ion-margin title">My Ticket</h3>

  <ion-card class="ion-margin" [routerLink]="['/queue-info']" routerLinkActive="router-link-active" [state]="{id: ticketShopName, data: 'H&M'}">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <img [src]="shopImgURL" alt="shopLogo" class="shopImg">
        </ion-col>
        <ion-col>
          <p class="ticket">{{data}}</p>
          <p class="info">20 mins left</p>
          <p class="current">Current: E021</p>
          <ion-icon name="qr-code" style="zoom:1.5"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card class="ion-margin"> -->
    <ion-card class="ion-margin" [routerLink]="['/queue-info']" routerLinkActive="router-link-active" [state]="{id: ticketShopName, data: 'Sushi King'}">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <img src="../../assets/sushikinglogo.png" alt="shopLogo" class="shopImg">
        </ion-col>
        <ion-col>
          <p class="ticket">D111</p>
          <p class="info">35 mins left</p>
          <p class="current">Current: D096</p>
          <ion-icon name="qr-code" style="zoom:1.5"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>  

  <ion-button color="medium" class="ion-margin-top btn"  expand="block" (click)="add()">Get Another Ticket</ion-button>
</ion-content>