.logo {
  margin: 5% auto;
}

.title {
  font-weight: bold;
  font-size: larger;
  margin-left: 50px;
}

.number {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 7%;
}

.btn {
  margin: 5% 20% 0% 20%;

  .btnChange {
    margin-top: 20px;
  }
}