.logo {
  margin: 5% auto;
}

.title {
  font-weight: bold;
  font-size: larger;
  margin-left: 50px;
}

.number {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.btn {
  margin: 5% 20% 0% 20%;

  .btnScan {
    margin-top: 20px;
  }
}