<ion-header>
  <ion-toolbar color="medium">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-thumbnail>
            <img src="../../assets/Logo.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <ion-text color="light">
            <h4>E-Waiting Line Management</h4>
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="ellipsis-vertical" (click)=logout($event)></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <ion-list-header>Today</ion-list-header> -->
    <div *ngFor="let notify of notificationArray">
    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2">
            <ion-avatar item-start>
              <img src="../../assets/logoDark.png"class="icon">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-note class="ion-text-end">{{ notify.Time }}</ion-note>
            <p class="title">It's Your Turn at {{ notify.Shop }}</p>
            <p class="message">Please proceed to the counter.</p>
            <p class="date">{{ notify.Date }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
  </ion-list>

</ion-content>