.table {
  margin-left: 5%;
  margin-right: 5%;

  .title {
    margin-bottom: 0;
  }
}

.checkbox {

  .box {
    margin-left: 0;
  }

  .checkboxTitle {
    margin-left: 3px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.button {
  margin-left: 10%;
  margin-right: 10%;

  .submit {
    margin-top: 5%;
    margin-bottom: 3%;
  }
}

.temperature {
  border-color: #6b0707;
  border-width: 0.01em;
  border-style: solid;
}