<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-end" size="3">
          <ion-icon name="heart-circle-outline" style="zoom:2.0;"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-start">
          <p>Saved Favourite</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row class="table">
        <ion-col size="7">
          <p class="title">Name</p>
        </ion-col>
        <ion-col size="5">
          <p class="title">Temperature (°C)</p>
        </ion-col>
      </ion-row>

      <div *ngIf="dependentArray.length > 0">
        <ion-row class="ion-align-items-center" *ngFor="let name of dependentArray">
          <ion-col class="checkbox" size="7">
            <ion-item lines="none">
              <ion-checkbox class="box" [value]="name" (ionChange)="onMyBooleanChange($event, name)">
              </ion-checkbox>
              <ion-label class="checkboxTitle">{{ name }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="temperature" size="5">
              <ion-input placeholder="37.1" required (change)="onTempChange($event)"></ion-input>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

  <!--Button-->
  <div class="button">
    <ion-button color="medium" class="ion-margin-top submit" expand="block" (click)="getDependentIDs()">Submit
    </ion-button>
    <ion-button color="medium" class="ion-margin-top" expand="block" (click)="add()">Add Dependent</ion-button>
  </div>
  <!--/Button-->

</ion-content>