.square {
    height: 50%;
    width: 100%;
    background-color: #6b0707;

    .logo {
        margin-top: 15%;
        width: 35%;
        height: auto;
    }
    .name {
        text-align: center;
        font-size: xx-large;
    }

    .login {
        color: grey;
    }

    .signup {
        font-size: xx-large;
    }
}

.input {
    margin: 10%;
}