.square {
    height: 50%;
    width: 100%;
    background-color: #6b0707;

    .logo {
        margin-top: 60px;
        width: 120px;
        height: auto;
    }
    .name {
        text-align: center;
        font-size: 218%;
    }

    .login {
        color: grey;
    }

    .signup {
        font-size: xx-large;
    }

    @media (max-width: 540px) and (max-height: 800px) {
        .logo {
            margin-top: 15%;
           width: 100px;
        }
        .name {
            font-size: 160%;
        }
    }

    // iPhone size
    @media screen and (device-aspect-ratio: 40/71) {
        .logo {
            width: 100px;
        }
        .name {
            font-size: 120%;
        }
    }

    //iPad size
    @media screen and (device-aspect-ratio: 3/4) {
        .logo {
            margin-top: 70px;
            width: 25%;
        }
        .name {
            font-size: 200%;
        }
    }
}

@media(max-width: 1200px) {
    .square {
        height: 30%;
    }
}

@media(max-width: 992px) {
    .square {
        height: 45%;
    }
}

@media screen and (max-width: 576px) {
    .square {
        height: 53%;
    }
    .signup {
        font-size: 30px !important;
    }
}

.input {
    margin: 10%;
}