.input {
    margin: 10% 10% 0% 10%;

    .checkTemp {
        height: 120px;
    }

}

h4 {
    margin-left: 15%;
}
.savedFavourite{
    color: blue;
    text-decoration: underline;
}

// ion-input {
//     --background: red;
// }