<ion-content class="ion-text-center">
  <p class="title">Please Select A Shop</p>

  <ion-card>
    <img src="../../assets/h&mlogo.jpg" alt="H&M" [routerLink]="['']" routerLinkActive="router-link-active" [state]="{id: shopName, data: 'H&M'}">
    <ion-card-header>
      <ion-card-title>H&M</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="../../assets/sushikinglogo.png" alt="Sushi King" [routerLink]="['']" routerLinkActive="router-link-active" [state]="{id: shopName, data: 'Sushi King'}">
    <ion-card-header>
      <ion-card-title>Sushi King</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="../../assets/watsonslogo.png" alt="Watsons" [routerLink]="['']" routerLinkActive="router-link-active" [state]="{id: shopName, data: 'Watsons'}">
    <ion-card-header>
      <ion-card-title>Watsons</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>