.title {
  margin-top: 5%;
  font-weight: bold;
  font-size: x-large;
}

// iPhone size
@media screen and (device-aspect-ratio: 40/71) {
  h4 {
    font-size: medium;
  }
}

//iPad size
@media screen and (device-aspect-ratio: 3/4) {
  h4 {
    font-size: large;
  }
}

@media(max-width: 1200px) {
  h4 {
    font-size: larger;
  }
}

@media(max-width: 992px) {
  h4 {
    font-size: large;
  }
}

@media screen and (max-width: 576px) {
  h4 {
    margin-left: 10px;
  }
}

ion-card img {
  width: 60%;
  height: auto;
  margin-top: 5%;
}
